


/*全画面共�?*/
html{
  scroll-behavior: smooth;/*ペ�?�ジ�?リンクをクリ�?クすると上にスクロールする*/
}

body{
    background-color: #50E2F6;
    max-width: auto;
}

header{

    height: 50px;
    background-color: rgba(26, 26, 26,0.53);

}

.wrap {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }

  main {
    flex: 1;
    opacity: 1;
  }

footer{
  text-align: center;
    height: 50px;
    bottom: 0;
}

/*mainの設�?*/
main{
  text-align: center;
}

.main{
  margin: auto;
  width: 90%;
}

.main div{
  box-shadow: 4px 4px #2f6aaed4;
  border-radius: 2%;
  background-color: #ffffff;
  margin-bottom: 6%;
  padding: 5%;
}

/*イラス�?*/
.main li img{
  margin-bottom: -20%;
  margin-left: -70%;
}

.main li .right{
  margin-left: 70%;
}


/*ログイン画面共通デザイン*/
.login header{
  text-align: center;
  display: block;
  padding-bottom: 50%;
  background-color: #50e3f600;
}

.login main{
  background-color: rgba(255, 255, 255);
  }
  

/*ログイン、ロゴの位置*/

.login ul{
  margin-top: 20%;
  display: inline-block;

}

.login li{
  display: inline;
}

/*ホ�?��?、ロゴの位置*/

header img{
  margin-top: 10px;
  margin-left: 15px;
}

/*背景アニメーション*/
.bg {
  animation:slide 3s ease-in-out infinite alternate;
  background-image: linear-gradient(-60deg, #4a9effd4 50%, #50E2F6 50%);
  bottom:0;
  left:-50%;
  opacity:.5;
  position:fixed;
  right:-50%;
  top:0;
  z-index:-1;
}

.bg2 {
  animation-direction:alternate-reverse;
  animation-duration:4s;
}

.bg3 {
  animation-duration:5s;
}

/*アニメーション部�?*/
@keyframes slide {
  0% {
    transform:translateX(-25%);
  }
  100% {
    transform:translateX(25%);
  }
}




/*ここからハンバ�?�ガメニュー*/
/*アイコン部�?*/
.hamburger {
    width: 55px;
    height: 67px;
    background-color: #FFC000;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
    margin-left: 83%;
    display: flex;
    transition: all 0.4s;
    position: relative;
    z-index: 30;
    border-radius: 12px;
    
  }

   /*クリ�?クされたら回転*/
  .checkbox:checked ~ .hamburger {
    transform: rotate(360deg);
  }

  /*クリ�?クされたらメニューを表示する*/
  .checkbox:checked ~ .nav-menu {
    visibility: visible;
  }
  
  /*ハンバ�?�ガメニューの三本�?*/
  .hamburger .bar {
    width: 40px;
    height: 3px;
    background: #ffffff;
    border-radius: 2px;
    display: block;
    position: absolute;
  }
  
  .hamburger .bar-top {
    transform: translate(0, -10px) rotate(0);
    transition: all 0.4s;
  }
  
  .hamburger .bar-middle {
    transition: all 0.4s;
    opacity: 1;
  }
  
  .hamburger .bar-bottom {
    transform: translate(0, 10px) rotate(0);
    transition: all 0.4s;
  }

  
    /*アイコンクリ�?ク時�?�変形*/
  .checkbox:checked ~ .hamburger .bar-middle {
    opacity: 0;
  }

  
  /*アイコンのクロスの角度*/
  .checkbox:checked ~ .hamburger .bar-top {
    transform: translate(0, 0) rotate(-45deg);
  }
  

  .checkbox:checked ~ .hamburger .bar-bottom {
    transform: translate(0, 0) rotate(45deg);
  }
  
  .checkbox {
    display: none;
  }

  /*ナビゲーション部�?*/
  
  .nav-menu {
    position: absolute;
    width: 40%;
    height: auto;
    opacity: 0;
    color: #333;
    top: 0;
    left: 0;
    margin-left: 60%;
    margin-top: 120px;
    transition: all 0.3s;
    visibility: hidden;
  
  }
  
  .nav-menu ul {
    text-align: right;
    margin-top: 30%;
    position: relative;
  }

  /*�?字�?�間隔*/
  .nav-menu li {
    text-align: center;
    padding-bottom: 40%;
  }

  /*ハンバ�?�ガメニューの�?字�?�設�?*/
  .nav-menu a {
    color: #ffffff;
    text-align: left;
    margin-left: 2%;
    font-size: 110%;
    font-weight: bold;
    Text-decoration:none;
    /*ホバー時�?��?字拡大*/
    display: inline-block;       
    transition: all 0.3s ease 0s;
    cursor: pointer;
  }


 /*クリ�?ク時に�?字�?�拡大、色を変更*/
a:active{
  cursor: pointer;
  transform: scale(1.2, 1.2);
  color: #fec20d;
  /*一番前に表示*/
  z-index: 1;
}
  
  .checkbox:checked ~ .nav-menu {

    background-color: #5a5a5a86;
    opacity: 1;
    /*一番前に表示*/
    z-index: 1;
  }

/*ここまでが�?�画面共�?*/

/*ホ�?��?と音声ショ�?プ�?�スライ�?*/
#slide{

	position:relative;
	overflow:hidden;
	height:200px;
}

#slide ul{
	position:absolute;
	width:100%;
}

#slide li{
  text-align: center;
  margin: 0;
  padding: 0;
	float:left;
	width:100%;
	list-style-type:none;
  z-index: 10;

}

#slide  li img{
  box-shadow: 4px 0px #2f6aaed4;
}

/*ボタンの設�?*/

#button{
  position: relative;
  z-index: 2;
  margin-top: -25px;
  margin-bottom: 0;
	text-align:center;
}

#button ul{
	display:inline-block;
}

#button ul li{
	float:left;
	margin-right:15px;
}

#button ul li:last-child{
	margin-right:0;
}

#button ul li a{
	text-indent:-9999px;
	text-decoration:none;
	display:block;
	width:14px;
	height:14px;
	border-radius:7px;
	background:#ffecb2c1;
}

#button ul li a.target{
	background:#fec20d;
}

/*ここまでがスライ�?*/




/* ここからはボイス画面の�?ザイン */
.voi{
  width: 100%;
}
/* 小見�?�し�?� */
#voice h2{
  font-weight: bold;
  font-size: 24px;
  text-align: left;
  margin-left: 10%;
  margin-top: 5%;
  margin-bottom: 10%;
}

/* �?字�?� */
#voice p{
  font-size: 14px;
  line-height: 1.8em;
  margin-bottom: 2.0em;
  text-align: left;
  margin-left: 5%;
}

#voice p .point{
  font-weight: bold;
  font-size: 24px;
  color: red;
}

/* 背景をしろにする */
#voice #chara {
  text-align: left;
  box-shadow: 0px 0px #ffffffd4;
}

#voice #chara ul li{
  margin-bottom: 10%;
  float: left;
}

#voice #chara ul li p strong{
  font-weight: bold;
  

}


#voice #chara #register{
  border: none;
  width: 30%;
  background-color: #fec20d;
  color: #000000;
  height: 30px;
  float: right;
  margin-top: 0%;
margin-right: 5%;
 

}

#voice .charaimg{
  margin-top: 4%;
  margin-left: -10%;
  float: left;
}

#voice .btn{
  margin-top: 0%;
  margin-left: 10%;
  float: left;
}

#voice .btn img{
  margin: 0;
}


#voice #slide{
  height: 215px;
}

/* ここまでが�?�イス画面の�?ザイン */

/*ここから目標セ�?ト�?��?ザイン*/
#set h2{
  font-weight: bold;
  font-size: 24px;
  text-align: left;
  margin-left: 10%;
  margin-top: 5%;
}

#set .koumoku {
  text-align: left;
  box-shadow: 0px 0px #ffffffd4;
}

#set .koumoku ul{
  margin-top: 10%;
}

#set .koumoku ul p {
  font-size: 16px;
  line-height: 1.8em;
  margin-bottom: 10%;
}

#set .koumoku li {
  margin-left: 10%;
  margin-bottom: 10%;
}

#set .koumoku li .submit{
  border: none;
  width: 30%;
  background-color: #fec20d;
  color: #000000;
  height: 30px;
  margin-top: 7%;
  margin-left: 30%;
}

#set .koumoku li #subject{
  width: 100%;
  height: 30px;
  font-size: 20px;
  margin-top: -20%;
}
/* ここまでが目標セ�?ト�?��?ザイン */

/*ここから合否結果画面*/
/*吹き�?��?*/
#result div {
  position: relative;
  padding: 1rem 1rem 1rem 1.5rem;
  border-radius: 5px;
  box-shadow: 4px 4px #2f6aaed4;
  font-weight: bold;
  font-size: 26px;
  background-color: #ffffff;
  width: 80%;
  margin-left: 5%;
 margin-bottom: 5%;
}

#result div:before,
#result div:after {
  position: absolute;
  left: 65%;
  height: 0;
  width: 0;
  border: solid transparent;
  content: "";
}

#result div:before {
  top: 100%;
  margin-left: -12px;
  border-color: transparent;
  border-top-color: #2f6aaed4;
  border-right-color: #2f6aaed4;
  border-width: 10px;
}

#result div:after {
  top: 99%;
  margin-left: -7px;
  border-color: transparent;
  border-top-color: white;
  border-right-color: white;
  border-width: 6.5px;
}


/**/

#result .coment {
  position: relative;
  padding: 1rem 1rem 1rem 1.5rem;
  border-radius: 5px;
  box-shadow: 4px 4px #2f6aaed4;
  font-weight: bold;
  font-size: 26px;
  background-color: #ffffff;
  margin-left: 5%;
 margin-bottom: 5%;
}

#result .coment:before,
#result .coment:after {
  position: absolute;
  left: 65%;
  height: 0;
  width: 0;
  border: solid transparent;
  content: "";
}

#result .coment:before {
  top: 100%;
  margin-left: -12px;
  border-color: transparent;
  border-top-color: #2f6aaed4;
  border-right-color: #2f6aaed4;
  border-width: 10px;
}

#result .coment:after {
  top: 99%;
  margin-left: -7px;
  border-color: transparent;
  border-top-color: white;
  border-right-color: white;
  border-width: 6.5px;
}

/*�?�?*/
#result .main{
  display: flex;
  margin-left: 0;
}

#result .coment{
  width: 110px;
  margin-left: 15%;
  word-break:break-all;
}

#result .coment p{
  font-size: 14px;
  line-height: 1.8em;
  text-align: left;
  
  

}
#result .coment .btn{
 text-align: right;
 
}

#result .chara{
 margin-top: 10%;
  text-align: right;
  margin-top: 10%;
  padding: 0 -10% 0 -10%;
  margin-right: -15%;

}

#result .gouhi h2{
  margin-bottom: 10%;
}

#result .gouhi .ten{
  font-size: 150%;
  color: red;
}

#result .gouhi p{
  margin-bottom: 10%;
}

#result .inyou{
  font-size: 12px;
  text-align: right;
  margin-right: 5%;
}
/*ここまで合否結果画面*/